<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="Arcache">
        <packages>
            <package name="com.dubravsky.arcache.*" />
        </packages>
    </test>

    <test name="Compress">
        <packages>
            <package name="com.dubravsky.arcache.compress.*" />
        </packages>
    </test>

</suite>